project_id = "kivqvwdfujsnuwfxjtcz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.order-ready]
verify_jwt = false

[functions.order-confirmation]
verify_jwt = false

[functions.status-email]
verify_jwt = false

[functions.completion-email]
verify_jwt = false

[functions.create-checkout]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.generate-invoice]
verify_jwt = false
